.footer {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-family: "DejaVu Sans Mono, monospace";
}

#brand-text {
    position: relative;
    left: 45%;
    font-size: 18px;
    margin: 1%;
    display: flex;
  }

  #brand-text a {
    display: inline-flex;
    margin: 6px;
    text-decoration: none;
  }

  #brand-text :hover {
    font-size: 35px;
  }