body {
  background-image: url('https://user-images.githubusercontent.com/72709524/115162662-c95d8f80-a072-11eb-87ea-163a0ee0deb6.jpg');
  background-repeat: no-repeat;
}

.paragraph {
  color: #ffffff;
  font-size: 35px;
  font-family: "Trirong", serif;
  float: right;
  padding-left: 15%;
  padding-right: 10%;
}

header h2 {
  padding-top: 5%;
  color: #ffffff;
  text-shadow: 2px 2px 5px;
}

.img-thumbnail {
  width: 360px;
  height: 360px;
  padding-left: 50%;
}

.portfolio-img {
  width: 360px;
  height: 360px;
}

#portfolio-content {
  padding-left: 10%;
  padding-top: 4%;
  box-sizing: border-box;
  display: inline-block;
}

#row {
  display: flex;
  padding: 0 20px;
}

.column {
  align-items: flex-start;
  padding: 0 50px;
  padding-bottom: 5%;
}

.col-lg {
  padding: 10px;
}

.home {
  color: #ffffff;
  padding-top: 50%;
  font-size: 50px;
}

.home h1 {
  position: relative;
  left: 113%;
  text-shadow: 2px 2px 5px;
}

.main-btn {
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

#main-btn button {
  position: relative; 
  left: 135%;
  width: 50%;
  height: 30%;
}

#main-btn button:hover {
 font-size: 25px;
}

#main-btn a {
  text-decoration: none;
}

label {
  color: #ffffff;
}

header h2 {
  padding-left: 10%;
  font-size: 35px;
}

.about-column {
  padding-left: 10%;
  padding-right: 25%;
}

.about-header {
  padding-right: 25%;
}

.email-contact {
  color: white;
  text-decoration: none;
  padding-top: 3%;
  font-size: 18px;
}