body {
  background-image: url('https://user-images.githubusercontent.com/72709524/115162662-c95d8f80-a072-11eb-87ea-163a0ee0deb6.jpg');
  background-repeat: no-repeat;
}

.paragraph {
  color: #ffffff;
  font-size: 35px;
  font-family: "Trirong", serif;
  float: right;
  padding-left: 15%;
  padding-right: 10%;
}

header h2 {
  padding-top: 5%;
  color: #ffffff;
  text-shadow: 2px 2px 5px;
}

.img-thumbnail {
  width: 360px;
  height: 360px;
  padding-left: 50%;
}

.portfolio-img {
  width: 360px;
  height: 360px;
}

#portfolio-content {
  padding-left: 15%;
  padding-top: 4%;
  box-sizing: border-box;
  display: inline-block;
}

#row {
  display: flex;
  padding: 0 20px;
}

.column {
  align-items: flex-start;
  padding: 0 50px;
  padding-bottom: 5%;
}

.col-lg {
  padding: 10px;
}

.home {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding-left: 150%;
  padding-top: 50%;
}

.home h1 {
  font-size: 100px;
  padding-top: 5%;
  text-shadow: 2px 2px 5px;
}

.main-btn {
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

#main-btn button {
  align-items: center;
  margin-left: 160%;
  padding-left: 35%;
  padding-right: 30%;
  padding-top: 2%;
  padding-bottom: 3%;
}

label {
  color: #ffffff;
}

header h2 {
  padding-left: 10%;
  font-size: 35px;
}

.about-column {
  padding-left: 10%;
  padding-right: 25%;
}

.about-header {
  margin-right: 15%;
}

@media all and (min-width: 480px) {

.contactForm {
  padding: 60px 0;
}

.contactForm h1 {
  padding-top: 5%;
  padding-right: 2.5%;
  color: white;
  text-shadow: 2px 2px 5px;
  font-size: 48px;
  text-align: center;
}

.contactForm form {
  margin: 0 auto;
  max-width: 480px;
}

.userName {
  width: 480px;
}
}